.sessao-sonho {
    background-color: rgba(242, 192, 41, 0.2); 
    border-left: 6px solid #0a2259; 
    margin: 40px 10%;
    padding: 30px;
    border-radius: 8px;
}

.texto-sonho {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #333333;
}

.imagem-destaque-sonho {
    display: block;
    margin: 30px auto;
    border: 3px dashed #0a2259; 
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4); 
}

figure {
    text-align: center;
    margin-bottom: 40px;
}